<hr/>

<footer class="row">
	<div class="wrapper">
		<!-- <div class="footer__courbe"></div> -->

		<section class="contact col col2">
			<h3 class="footer__title">Coordonnées</h3>
			<ul>
				<li>contact@vueducoeur.org</li>
				<a href="https://www.facebook.com/VueDuCoeur/" target="_blank"><li>Page Facebook VueDuCoeur</li></a>
				<li>4, Chemin de Haguenau<br/>67240 Gries</li>
			</ul>
		</section>

		<section class="links col col2">
			<h3 class="footer__title">Liens utiles</h3>
			<ul>
				<a href="http://www.enfant-aveugle.com" target="_blank"><li>Enfant Aveugle</li></a>
				<a href="http://www.association-lamainducoeur.com/" target="_blank"><li>La Main du Coeur</li></a>
				<a href="http://www.ldqr.org/" target="_blank"><li>Les Doigts qui rêvent</li></a>
				<a href="http://www.dunespoir.com/" target="_blank"><li>Les Dunes d'Espoir</li></a>
			</ul>
		</section>

		<section class="join col col2">
			<h3 class="footer__title">Participer</h3>
			<ul>
				<li><a href="construction.php">Accès à la page d'adhésion</a></li>
				<li class="newsletter">
					S'inscrire à notre newsletter
					<form action="" method="">
						<input class="footer__input" placeholder="Votre adresse email...">
						<button class="footer__button" type="submit">Valider</button>
					</form>
				</li>
			</ul>
		</section>
	</div>
</footer>

<!--Introduction du jquery-->
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<!--Introduction du script JS-->
<script src="js/main.js"></script>
