<hr/>

<footer>
	<section class="contact">
		<h3>Coordonnées</h3>
		<ul>
			<li>contact[at]vueducoeur.org</li>
			<li>Page Facebook VueDuCoeur</li>
			<li>4, Chemin de Haguenau<br/>67240 Gries</li>
		</ul>
	</section>
	
	<section class="links">
		<h3>Liens utiles</h3>	
		<ul>
			<a href=""><li>Enfant Aveugle</li></a>
			<a href=""><li>La Main du Coeur</li></a>
			<a href=""><li>Les Doigts qui rêvent</li></a>
			<a href=""><li>Les Dunes d'Espoir</li></a>
		</ul>
	</section>
	
	<section class="join">
		<h3>Participer</h3>
		<ul>
			<li>Accès à la page d'adhésion</li>
			<li>
				S'inscrire à notre newsletter
				<form action="" method="">
					<input placeholder="Votre adresse email...">
					<button type="submit">Valider</button>
				</form>
			</li>
		</ul>
	</section>
</footer>

<!--Introduction du jquery-->
<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
<!--Introduction du script JS-->
<script src="js/main.js"></script>