	<header>

		<nav id="mainMenu">
			<ul class="mainMenu__list">
				<li class="mainMenu__item"><a href="accueil.php">Accueil</a></li>
				<li class="mainMenu__item"><a href="actu.php">Actualités de l'association</a></li>
				<li class="mainMenu__item"><a href="blog.php">Blog de Nathan</a></li>
				<li class="mainMenu__item"><a href="video.php?content=none">Vidéos</a></li>
				<li class="mainMenu__item"><a href="contact.php">Contact</a></li>
			</ul>
			<div class="mainMenu__courbe"></div>
			<img class="mainMenu__logo" src="images/logo.png">
			
			<h1 class="mainMenu__name">vueducoeur.org</h1>
		</nav>
		
		<h3 class="header__citation">
			L'essentiel est invisible pour les yeux
			<span>- Antoine de Saint-Exupéry</span>
		</h3>
	</header>