	<header>

		<nav id="mainMenu">
			<ul class="mainMenu__list">
				<a href="accueil.php"><li class="mainMenu__item">Accueil</a></li>
				<a href="actu.php"><li class="mainMenu__item">Actualités de l'association</li></a>
				<a href="blog.php"><li class="mainMenu__item">Blog de Nathan</li></a>
				<a href="video.php?content=none"><li class="mainMenu__item">Vidéos</li></a>
				<a href="contact.php"><li class="mainMenu__item">Contact</li></a>
			</ul>
			<div class="mainMenu__courbe"></div>
			<img class="mainMenu__logo" src="images/logo.png">
			
			<a href="accueil.php"><h1 class="mainMenu__name">vueducoeur.org</h1></a>
		</nav>
		
		<h3 class="header__citation">
			L'essentiel est invisible pour les yeux
			<span>- Antoine de Saint-Exupéry</span>
		</h3>
	</header>