h1, section {margin-bottom: 1em;}
.us h2 {margin: 2em 0 0.5em 0;}

.us h3 {margin: 1em 0 1em 0;
  color: #fe7e36;
}

.us h3:first-of-type {margin-top: 0;}

article .background {height: 12em;
  background: url('../images/video_asso.jpg') no-repeat;
  color: #fff;
  margin-bottom: 0.5em;
  /*border: 2px solid #fe7e36;*/
}

.background h4 {
	transition:all 500ms;
}

.background:hover h4 {
	line-height:2.5;
	font-size:1.5em;
	color:#000000;
}

h4 {text-transform: uppercase;
  text-align: center;
  line-height: 1.8;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}

img[alt="blog"] {display: none; /* Ne s'affiche pas en temps normal, mais besoin pour l'accessibilité */
  width: 250px;
}
