/*ARCHIVES*/

.archives {
	float:right;
}

/*menus déroulants*/
#archives, #dates {
    height:2em;
}

#archives:focus, #dates:focus {
    color:#fe7e36;
}

/*ARTICLES*/

article {
	/*pour plaquer le texte en bas de la div*/
	display:flex;
	align-items:flex-end;
}

article a img {
	height:12em;
	float:left;
	padding:0 1em 0 0;
}

/*date*/
article span {
	color:#c3c6c1;
}

article h4 {
	padding:0 0 1em 0;
	font-weight:800;
}

/*lien vers l'article*/
article div a {
	float:right;
	padding:0.3em 0 0 0;
}

/* Animation image */
.lien__image img {width: 100%;
	padding: 0;
	transition: all 1s ease;
	max-width: 100%;
}

.lien__image img:hover {transform: scale(1.2);}

.lien__image {/*display: block;*/
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*article à la une*/

.first__description {
	font-size:1.2em;
}

.first img {
	height:24em;
}
