/*feuille de style commune à toutes les pages*/

/*polices*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700');

/*structure générale du document*/

*, *:before, *:after {
  box-sizing:border-box;
}

html {
	/*insérer couleur, taille et police principale*/
	font-family: 'Lato', sans-serif;
}

.wrapper {
	width:75%;
	margin:auto;
}

/*HEADER
menu principal*/

#mainMenu {
	background-color:#fe7e36;
	padding:1.5em;
	/*seul un élément positionné peut avoir un z-index*/
	position:relative;
	/*permet de faire passer le menu en dessous de la courbe*/
	z-index:-10; /*BLOQUE LES LIENS DU MENU*/
}

.mainMenu__list {

}

.mainMenu__item {
	display:inline-block;
	margin:0 1em 0 1em;
}

.mainMenu__item a {
	text-decoration:none;
	text-transform:uppercase;
}

/*création de la courbe du menu*/
.mainMenu__courbe {
	position:absolute;
	/*taille du menu : 3em+texte*/
	top:1.5em;
	right:4em;
	border-radius:50%;
	height:300px;
	width:700px;
	background-color:#ffffff;
	/*faire passer devant le menu, derrière le contenu*/
	z-index:-5;

}

.mainMenu__logo {
	position:absolute;
	/*hauteur du menu = 3em + texte*/
	top:6em;
	right:2em;
	/*à modifier*/
	height:50px;
	width:100px;
}

.mainMenu__name {
	position:absolute;
	/*hauteur du menu = 3em + texte*/
	top:1.5em;
	right:2em;
}

/*HEADER
identité du site*/

.header__citation {
	margin:2em 0 1em 0;
}

.header__citation span {
	/*passage à la ligne*/
	display:block;
}

