/*PAGE : CHOIX ENTRE LES DEUX CATEGORIES*/

.choixVideo {
	height:24em;
	background-repeat:no-repeat;
	background-size:cover;
}

.choixVideo h2 {
	transition:all 500ms;
}

.choixVideo:hover h2 {
	line-height:2.5;
	font-size:1.5em;
	color:#000000;
}

.video__assoc {
	background-image:url('../images/video_asso.jpg');
}

.video__nathan {
	background-image:url('../images/video_nathan.jpg');
}

.categTitle {
	text-align:center;
	background-color: rgba(255, 255, 255, 0.7);
	line-height: 1.8;
}

/*PAGE DE LECTURE DE VIDEOS*/

section {
	display:flex;
	margin:2em 0;
}

video {/* Pour éviter qu'avec une miniautre blanche on ne voit pas la limite de la vidéo */
	border: 2px solid #fe7e36;
}

/*vidéo en lecture*/
.video__main__description {
	/*pour plaquer le texte en bas de la div*/
	align-self:flex-end;
}

.video__main {
	font-size:1.2em;
}

.video__main video {
	width:90%;
}

/*date*/
section span {
	color:#c3c6c1;
}

/*titre des vidéos*/
section h4 {
	padding:0 0 1em 0;
	font-weight:800;
}

/*liste des vidéos*/
.video__list { /* Fond permet de savoir où commence le slider */
	margin-top: 1em;
	background-color: #fab38b;
}

.video__list ul {
	display:inline-block;
	margin:auto;
	width:100%;
}

.video__description span,
.video__description h4 {padding-bottom: 1em;
}

.carousel-cell {
	width:200px;
	margin:1em;
}

.carousel-cell img {
	height:140px;
}

.flickity-page-dots .dot {
 	display:none;
}
